div.loginform{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 25%;

    background-color: white;
}

form {
    border: 3px solid #f1f1f1;

  }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

button {
  background: linear-gradient(255deg, rgba(131,58,180,1) 0%, rgba(52,25,161,1) 37%, rgba(252,176,69,1) 100%);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

body {
  background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(52,25,161,1) 21%, rgba(67,31,165,1) 45%, rgba(122,78,129,1) 66%, rgba(252,176,69,1) 100%);
  background-repeat: no-repeat;
  background-size: fill;
}
html {
  height: 100%;
}

.loginform {
  padding-bottom: 30px;
}