{% extends 'base.html.twig' %}
{% block body  %}
bonjour
<form name="races-list-parameters">
    <label>Trier :
        <select name="order">
            <option value="name" selected>Nom</option>
            <option value="willStartAt">Date</option>
        </select>
    </label>
    <label>Filtrer :
        <select name="isClosed">
            <option value="" selected>Toutes</option>
            <option value="true">Closes</option>
            <option value="false">À venir</option>
        </select>
    </label>
    <label>Nom : <input name="search"/></label>
    <button type="submit">Filtrer</button>
</form>

<div>
</div>
<script src="/application/index.js"></script>
{% endblock %}